<div class="content">
  <h4>Create an account</h4>
  <form class="login-form" [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username" type="text" formControlName="username"  autocomplete="off">
    </mat-form-field>
    <div *ngIf="submitted && f.username.errors" class ='error-message'>
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="email" formControlName="email" autocomplete="off">
    </mat-form-field>
    <div *ngIf="submitted && f.email.errors" class ='error-message'>
      <div *ngIf="f.email.errors.required"> Email is required</div>
      <div *ngIf="f.email.errors.email"> Email is invalidated</div>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password" id="password" formControlName="password" autocomplete="off">
    </mat-form-field>
    <div *ngIf="submitted && f.password.errors" class ='error-message'>
      <div *ngIf="f.password.required"> Password is required</div>
      <div *ngIf="f.password.minlength"> Password min width 6</div>
    </div>
    <br>
    <button mat-button class="" >Submit</button>
  </form>
</div>
